<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RoleList</key>
	<array>
		<dict>
			<key>RoleName</key>
			<string>系统管理员</string>
			<key>RoleID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>RoleName</key>
			<string>秘书</string>
			<key>RoleID</key>
			<string>47</string>
		</dict>
		<dict>
			<key>RoleName</key>
			<string>助理</string>
			<key>RoleID</key>
			<string>49</string>
		</dict>
		<dict>
			<key>RoleName</key>
			<string>行政职工</string>
			<key>RoleID</key>
			<string>53</string>
		</dict>
		<dict>
			<key>RoleName</key>
			<string>主任</string>
			<key>RoleID</key>
			<string>54</string>
		</dict>
		<dict>
			<key>RoleName</key>
			<string>教授</string>
			<key>RoleID</key>
			<string>61</string>
		</dict>
		<dict>
			<key>RoleName</key>
			<string>校长</string>
			<key>RoleID</key>
			<string>62</string>
		</dict>
		<dict>
			<key>RoleName</key>
			<string>院长</string>
			<key>RoleID</key>
			<string>63</string>
		</dict>
		<dict>
			<key>RoleName</key>
			<string>书记</string>
			<key>RoleID</key>
			<string>64</string>
		</dict>
	</array>
	<key>StaffList</key>
	<array>
		<dict>
			<key>StaffName</key>
			<string>系统管理员</string>
			<key>RoleID</key>
			<string>1</string>
			<key>StaffID</key>
			<string>1</string>
			<key>DeptID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>小李</string>
			<key>RoleID</key>
			<string>53</string>
			<key>StaffID</key>
			<string>156</string>
			<key>DeptID</key>
			<string>18</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>小柴</string>
			<key>RoleID</key>
			<string>53</string>
			<key>StaffID</key>
			<string>157</string>
			<key>DeptID</key>
			<string>16</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>赵主任</string>
			<key>RoleID</key>
			<string>54</string>
			<key>StaffID</key>
			<string>158</string>
			<key>DeptID</key>
			<string>15</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>小施</string>
			<key>RoleID</key>
			<string>53</string>
			<key>StaffID</key>
			<string>159</string>
			<key>DeptID</key>
			<string>18</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>小明</string>
			<key>RoleID</key>
			<string>49</string>
			<key>StaffID</key>
			<string>161</string>
			<key>DeptID</key>
			<string>1</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>小张</string>
			<key>RoleID</key>
			<string>1</string>
			<key>StaffID</key>
			<string>162</string>
			<key>DeptID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>小吴</string>
			<key>RoleID</key>
			<string>0</string>
			<key>StaffID</key>
			<string>163</string>
			<key>DeptID</key>
			<string>0</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>小黄</string>
			<key>RoleID</key>
			<string>53</string>
			<key>StaffID</key>
			<string>164</string>
			<key>DeptID</key>
			<string>17</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>小李</string>
			<key>RoleID</key>
			<string>53</string>
			<key>StaffID</key>
			<string>165</string>
			<key>DeptID</key>
			<string>17</string>
		</dict>
		<dict>
			<key>StaffName</key>
			<string>小扬</string>
			<key>RoleID</key>
			<string>64</string>
			<key>StaffID</key>
			<string>166</string>
			<key>DeptID</key>
			<string>17</string>
		</dict>
	</array>
	<key>DeptList</key>
	<array>
		<dict>
			<key>DeptID</key>
			<string>1</string>
			<key>DeptName</key>
			<string>皇家学院</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>1</string>
			<key>DeptName</key>
			<string>皇家学院</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>3</string>
			<key>DeptName</key>
			<string>　　财务处</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>6</string>
			<key>DeptName</key>
			<string>招生办</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>10</string>
			<key>DeptName</key>
			<string>工会</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>12</string>
			<key>DeptName</key>
			<string>工会分部</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>13</string>
			<key>DeptName</key>
			<string>国资处</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>14</string>
			<key>DeptName</key>
			<string>科研处</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>15</string>
			<key>DeptName</key>
			<string>党政办</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>16</string>
			<key>DeptName</key>
			<string>信息科</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>17</string>
			<key>DeptName</key>
			<string>秘书科</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>18</string>
			<key>DeptName</key>
			<string>综合科</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>19</string>
			<key>DeptName</key>
			<string>文秘室</string>
		</dict>
		<dict>
			<key>DeptID</key>
			<string>23</string>
			<key>DeptName</key>
			<string>教务处</string>
		</dict>
	</array>
</dict>
</plist>
